.wrapper {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #9ACD3244;
  border: solid 1px #9ACD32;
  border-radius: 8px;

  cursor: pointer;
}

.name {
  margin: 15px;
}
