.wrapper {
  height: 110px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #327ACD44;
  border: solid 1px #327ACD;
  border-radius: 8px;

  cursor: pointer;

  opacity: 0.2;

  transition: opacity 0.2s;
}

.wrapper:hover {
  opacity: 1;
}

.name {
  margin: 15px;
}
