<h1 mat-dialog-title *ngIf="!data._id">Create new device</h1>
<h1 mat-dialog-title *ngIf="data._id">Edit device</h1>
<div mat-dialog-content>
  <div class="fields-container">
    <mat-form-field>
      <mat-label>Uid</mat-label>
      <input matInput [(ngModel)]="data.uid" type="number" (keyup.enter)="onSave()">
    </mat-form-field>
    <mat-error class="error">{{getError('uid')}}</mat-error>

    <mat-form-field>
      <mat-label>Vendor</mat-label>
      <input matInput [(ngModel)]="data.vendor" (keyup.enter)="onSave()">
    </mat-form-field>
    <mat-error class="error">{{getError('vendor')}}</mat-error>

    <mat-form-field appearance="fill">
      <mat-label>Gateway</mat-label>
      <mat-select [(ngModel)]="data.gatewayId">
        <mat-option *ngFor="let gateway of data.gateways" [value]="gateway._id" >
          {{gateway.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="data.status">online</mat-slide-toggle>
  </div>
  <div class="buttons-container">
    <button mat-button (click)="onSave()">Save</button>
    <button mat-button (click)="onDelete()" *ngIf="data._id" color="warn">Delete</button>
  </div>
</div>
