.fields-container {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.buttons-container {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.error {
  position: relative;
  top: -20px;
}

@media screen and (max-width: 500px) {
  .fields-container {
    width: auto;
  }
}
