<div
  class="wrapper"
  cdkDropList
  cdkDropListSortingDisabled
  [cdkDropListData]="devices"
  [cdkDropListEnterPredicate]="dropPredicate"
  (cdkDropListDropped)="drop($event)"
  [attr.data-gatewayId]="gateway?._id"
>
  <mat-card class="info gateway-info desktop pointer" (click)="openDialog()" *ngIf="gateway">
    <div>Name</div>
    <div class="ellipsis" [title]="gateway.name">{{gateway.name}}</div>

    <div>Serial number</div>
    <div class="ellipsis" [title]="gateway.serialNumber">{{gateway.serialNumber}}</div>

    <div>IPv4</div>
    <div>{{gateway.IPv4}}</div>
  </mat-card>

  <mat-card class="info gateway-info mobile" *ngIf="gateway">
    <div class="pointer" (click)="openDialog()">{{gateway.name}} ({{gateway.serialNumber}}) {{gateway.IPv4}}</div>
    <app-new-device class="mobile" *ngIf="notFull" [gatewayId]="gateway._id" />
  </mat-card>

  <mat-card class="info unattached-info" *ngIf="!gateway">
    <div *ngIf="!gateway">Unattached devices</div>
  </mat-card>

  <div class="devices">
    <div *ngFor="let device of devices" cdkDrag class="device" [attr.data-id]="device._id">
      <app-device [device]="device" />
    </div>
    <app-new-device class="desktop" *ngIf="notFull" [gatewayId]="gateway?._id || null" />
  </div>
</div>
