<div class="wrapper">
  <div (click)="openDialog()" *ngIf="gateway">
    <p class="name-button">name: {{gateway.name}}</p>
    <p class="name-button">IPv4: {{gateway.IPv4}}</p>
    <p class="name-button">serialNumber: {{gateway.serialNumber}}</p>
  </div>
  <p class="name" *ngIf="!gateway">Unbounded devices</p>
  <div class="devices">
    <div *ngFor="let device of devices">
      <app-device *ngIf="device.gatewayId === gateway?._id" [device]="device" [update]="update"/>
    </div>
    <app-new-device [gatewayId]="gateway?._id || null" [update]="update" />
  </div>
</div>
