.wrapper {
  height: 110px;

  margin: 8px auto;

  display: flex;
  align-items: center;

  background: #327ACD44;
  border: solid 1px #327ACD;
  border-radius: 8px;

  transition: background-color 0.2s;
}

.devices {
  display: flex;
  overflow: scroll;
}

.info {
  width: 235px;
  height: 100px;

  margin: 0 8px;
  padding: 5px;

  background: #327ACD44;

  flex-shrink: 0;
  border-radius: 8px;

  text-align: left;
}

.gateway-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 8px;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.unattached-info {
  display: flex;
  justify-content: center;
}

.cdk-drag-placeholder {
  opacity: 0;
  transition: opacity 0.2ms ;
}

.cdk-drop-list-dragging {
  background-color: #1c4881
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 320px;
    flex-direction: column;
    height: unset;
  }

  .devices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 8px;
    justify-content: space-evenly;
  }

  .info {
    height: 40px;
    width: 100%;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: none;
  }

  .unattached-info {
    align-items: center;
  }
}
