<div class="wrapper">
  <mat-card class="gateway-info" (click)="openDialog()" *ngIf="gateway">
    <div>Name</div><div>{{gateway.name}}</div>
    <div>Serial number</div><div>{{gateway.serialNumber}}</div>
    <div>IPv4</div><div>{{gateway.IPv4}}</div>
  </mat-card>
  <mat-card class="unbounded-info" *ngIf="!gateway">
    <div *ngIf="!gateway">Unattached devices</div>
  </mat-card>

  <div class="devices">
    <div *ngFor="let device of devices">
      <app-device [device]="device" [update]="update"/>
    </div>
    <app-new-device *ngIf="devices.length < maxBoundDevices || !gateway" [gatewayId]="gateway?._id || null" [update]="update" />
  </div>
</div>
