.fields-container {
  width: 600px;

  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.error {
  position: relative;
  top: -20px;
}
