.gateways-container {
  padding: 20px 40px 80px;
}

@media screen and (max-width: 500px) {
  .gateways-container {
    padding: 10px 10px 80px;
  }
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
