.wrapper {
  width: 150px;
  height: 100px;

  padding: 5px;
  margin-right: 8px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 8px;

  border-radius: 8px;

  cursor: pointer;
}

.off {
  background: red;
  color: white;
}

.on {
  background: green;
  color: white;
}

@media screen and (max-width: 500px) {
  .wrapper {
    margin: 0 0 8px;
  }
}
