<div class="footer">
  <a class="link" href="https://t.me/LytovDev" target="_blank" rel="noopener noreferrer">
    <img class="logo" src="../../assets/telegram.svg">
  </a>

  <a class="link" href="https://github.com/Dmitrycmc" target="_blank" rel="noopener noreferrer">
    <img class="logo" src="../../assets/github.png">
  </a>

  <a class="link" href="https://www.linkedin.com/in/dmitrii-lytov-ab823822a" target="_blank" rel="noopener noreferrer">
    <img class="logo" src="../../assets/linked-in.png">
  </a>
</div>
