.wrapper {
  width: 150px;
  height: 100px;

  margin-right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.2;

  transition: opacity 0.2s;

  border-radius: 8px;

  cursor: pointer;
}

:host-context(.wrapper:hover) .wrapper {
  opacity: 1;
}

:host-context(.wrapper.cdk-drop-list-dragging:hover) .wrapper {
  opacity: 0;
}
